extends layout

block content
  each kit in Object.keys(deps)
    h2= kit

    table
      tr
        th Name
        th Dependency name
        th Expected version
        th Current version
        th Status

      each project in deps[kit]
        tr
          td
            a(href=`http://github.com/prismicio/${project.name}` target="_blank")= project.name
          td= project.dependency
          td= project.expected
          td= project.is
          td
            a(href=`https://david-dm.org/prismicio/${project.name}`)
              img(src=`https://david-dm.org/prismicio/${project.name}/status.svg` alt="dependencies status")
